    
body{ 
    display: fhex;
     background-image: repeating-linear-gradient(70deg,rgba(255,0,255,0.7)40%,rgba(128,0,128,0.9));
    
     background-clip: border-box;
    
}
.container{ background-image: linear-gradient(45deg,rgba(255,255,255,0.7),rgba(192,192,192,1),rgba(0,0,0,0.9));
}
#introduction{
    margin-left: 20px;
}
span{
    margin-bottom: auto;
}
.registation_portal{
    float: right;
    margin-top: 5%;
    width: fit-content;
    background-color: transparent;
    border: 2px;
    padding-left: 30%;
}
img{
    margin-right: 30px;
    opacity: 0.5;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#_it{
    font-style: italic;
}
.info1{
    padding: 20px;
    margin-bottom: 5%;
    margin-left: 40%; 
    background-color: transparent;

}
.info1:focus{
    opacity: 1;
    cursor: pointer;
}